
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>

  <title>{% block title %} home {% endblock %}</title> </head>
  <body>

	{% include "todo/master.html" %}

  		<div >
            {% block content %}
            <h1> yaya </h1>

            <a href="/createTodo"> Create TO </a>

            {% if todo_list %}
            	{% for item in todo_list %}

            	<ol>
            		<li> Title : {{ item.Title }} </li>
            		<li> Description : {{ item.Description}} </li>
            		<li> Venue : {{item.Venue}} </li>
            		<li> Duration :{{ item.Duration }} </li>
            	</ol>


            	{% endfor %}
            {% else %}
            <p> Nothing to show ..</p>
            {% endif %}

            {% endblock %}
        </div>

   </body>
   </html>

